<%- include('./partials/header.ejs')%>
        <h3>Welcome to Niner Hours.</h3> 
        <p>This Application is designed to help students manage their scheduled work hours around campus.</p>
    </div>
    <%- include('./partials/footer.ejs')%>